/* Calendar events */
.rbc-calendar {
  padding-top: 5px;
}
.rbc-toolbar {
  position: -webkit-sticky;
  position: sticky;
  gap: 10px;
  top: 0;
  padding-bottom: 10px !important;
  background-color: var(--white) !important;
  transition: background-color 0.55s ease 0.2s !important;
}

.rbc-toolbar-label {
  font-size: 20px;
}
.rbc-toolbar > span {
  min-width: 335px;
  text-align: center;
}
.rbc-toolbar > span:last-child {
  text-align: end;
}
.rbc-toolbar button {
  color: var(--white) !important;
  background: #6992ca !important;
  border-radius: 4px !important;
  padding: 0.375rem 0.8rem !important;
}
.rbc-toolbar button span {
  display: flex;
  align-items: center;
  gap: 4px;
}
.rbc-btn-group button:nth-child(2) {
  margin: auto 10px !important;
}
.rbc-btn-group button:nth-child(3) {
  margin-right: 10px !important;
}
.rbc-btn-group button.rbc-active {
  color: #2196f3 !important;
  background-color: var(--white) !important;
  border-color: #2196f3 !important;
  transition: background-color 0.75s ease;
}

.rbc-allday-cell,
.rbc-event-label {
  display: none !important;
}
.rbc-time-header-gutter,
.rbc-time-gutter.rbc-time-column {
  background-color: unset !important;
}
.rbc-event-content > div {
  white-space: pre;
  padding: 2px 0;
  font-size: 0.9rem;
}
.rbc-event-content > div:nth-child(2) > div {
  display: flex;
  gap: 5px;
  padding: 3px 0;
}
.rbc-event-content > div:last-child {
  color: yellow;
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  padding-top: 4px;
}
.rbc-event-content div,
.rbc-row.rbc-row-resource .rbc-header,
.rbc-event-content span:nth-child(2) {
  text-overflow: ellipsis !important;
  overflow: hidden !important;
}

.rbc-month-row .rbc-event-content > div:nth-child(2),
.rbc-month-row .rbc-event-content > div:last-child,
.rbc-current-time-indicator {
  display: none;
}
.rbc-agenda-event-cell > div > span:nth-child(1)::after {
  content: '\a';
  white-space: pre;
}
.rbc-time-content .rbc-timeslot-group {
  min-height: 90px;
}
.rbc-month-row {
  min-height: 156px;
}
.rbc-day-bg.rbc-off-range-bg {
  transition: background-color 0.55s ease 0.2s;
}
.rbc-day-bg.rbc-today {
  transition: background-color 0.55s ease 0.2s;
}
/* CalendarWithHover on month view */
.rbc-month-view .rbc-day-bg:hover {
  background-color: #eaf6ff; /* Change the background color when hovered */
  cursor: pointer; /* Change the cursor on hover */
  transition: background-color 500ms ease;
}
.rbc-button-link.rbc-show-more {
  background-color: transparent;
  transition: background-color 0.75s ease 0.2s;
}

@media (max-width: 1015px) {
  .rbc-toolbar > span {
    min-width: unset;
  }
  .rbc-month-row {
    min-height: unset;
  }
}

@media (max-width: 640px) {
  .rbc-time-content .rbc-timeslot-group {
    min-height: 72px;
  }
}

@media (max-width: 420px) {
  /* main {
      padding: 15px;
    } */
  .rbc-toolbar {
    flex-direction: column;
    padding-bottom: 20px !important;
  }
  .rbc-toolbar > span:last-child {
    text-align: center;
  }
  .rbc-toolbar .rbc-toolbar-label {
    flex-grow: 0 !important;
  }
  .rbc-row.rbc-time-header-cell .rbc-header,
  .rbc-row.rbc-row-resource .rbc-header {
    width: 90px !important;
  }
  .rbc-time-view-resources .rbc-day-slot {
    min-width: 90px !important;
  }
  .rbc-event-content div {
    padding: 1px 0;
    font-size: 0.7rem;
  }
  .rbc-event-content > div span:nth-child(1) {
    vertical-align: middle;
    font-size: 0.6rem;
  }
  .rbc-day-slot .rbc-events-container {
    margin-right: 0 !important;
  }
  .rbc-day-slot .rbc-event-content > div {
    font-size: 0.75rem;
  }
  div[type='popup'] .rbc-event-content > div:nth-child(1) {
    font-size: 0.9rem;
  }
  .rbc-time-content .rbc-timeslot-group {
    min-height: 56px;
  }
  .rbc-button-link.rbc-show-more {
    width: 100%;
  }
}

/* Dark Theme */

html.dark .rbc-toolbar {
  background-color: unset !important;
  transition: background-color 0.05s ease !important;
}
html.dark .rbc-toolbar-label {
  color: var(--white);
}
html.dark .rbc-btn-group button.rbc-active {
  background-color: var(--grey) !important;
}
html.dark .rbc-day-bg.rbc-off-range-bg {
  background-color: rgba(88, 164, 176, 0.2);
  transition: background-color 0.15s ease;
}
html.dark .rbc-day-bg.rbc-today,
html.dark .rbc-header.rbc-today {
  background-color: var(--grey);
  transition: background-color 0.15s ease;
}
html.dark .rbc-month-view .rbc-day-bg:hover {
  background-color: #43749b;
}
html.dark .rbc-button-link.rbc-show-more {
  color: #2196f3;
  background-color: transparent;
  transition: background-color 0.15s ease;
}
html.dark .rbc-day-slot.rbc-time-column.rbc-now.rbc-today {
  background-color: rgba(88, 164, 176, 0.2);
}
html.dark .rbc-row.rbc-row-resource {
  border: none;
}
html.dark .rbc-day-bg.rbc-today {
  background-color: #555;
}
html.dark .rbc-event-content > div,
html.dark .rbc-overlay-header,
html.dark .rbc-header > span,
html.dark .rbc-header .rbc-button-link > span,
html.dark .rbc-time-slot .rbc-label,
html.dark .rbc-row.rbc-row-resource .rbc-header {
  color: var(--white) !important;
}
