# See https://help.github.com/articles/ignoring-files/ for more about ignoring files.
.gitignore

# dependencies
/node_modules
/.pnp
.pnp.js
.yarn/install-state.gz

# testing
/coverage

# next.js
/.next/
/out/

# production
/build

# misc
.DS_Store
*.pem

# debug
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# local env files
.env
.env*.local

# vercel
.vercel

# typescript
*.tsbuildinfo
next-env.d.ts

# preettier
.prettierrc

# Auto Generated PWA files
**/public/sw.js
**/public/workbox-*.js
**/public/worker-*.js
**/public/sw.js.map
**/public/workbox-*.js.map
**/public/worker-*.js.map
**/public/fallback-*.js

# Backups
/src/app/components/popups/__ControlledPopup-bu.tsx
/src/app/components/popups/__ControlledPopupEditable-bu.tsx
/src/app/components/popups/__UserMainPopup-bu.tsx
/src/app/components/popups/__ProfilePopup-bu.tsx
/src/app/components/popups/__Modal-bu.tsx
/src/app/components/popups/__ConfirmPopup-bu.tsx
/src/app/components/popups/MapModal.tsx
/src/app/hooks/useMobile.ts
#/src/app/components/popups/PopupWrapper.tsx
/src/app/styles/__modal-bu.css
/src/app/styles/__modal-bu.css
/src/app/styles/hamburger.css
